/* noto-serif-georgian-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Serif Georgian';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-serif-georgian-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/noto-serif-georgian-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-serif-georgian-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-serif-georgian-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-serif-georgian-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-serif-georgian-v23-latin-regular.svg#NotoSerifGeorgian') format('svg'); /* Legacy iOS */
  }
  
  
//   /* commissioner-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/commissioner-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/commissioner-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/commissioner-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/commissioner-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/commissioner-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/commissioner-v13-latin-regular.svg#Commissioner') format('svg'); /* Legacy iOS */
  }
  
  $green: #499A18;
  $orange: #E06733;
  $gray: #717171;

  p,
  li,
  h1,
  h2,
  h3,
  figure { 
    padding: 0;
    margin: 0;
  }




  
  html {
    scroll-behavior: smooth;
    }
  
  .main-page__container {
    // max-width: 1280px;
    margin: 0 auto;
    // max-width: 1440px;
    overflow: hidden;
    // background-color: yellowgreen;
  }
  .main-page__container-content {
    margin: 0 auto;
    max-width: 1200px;
  }


//TODO Start Header*****************************************************************
.background__header {
  background: url(//), radial-gradient(100% 900% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
  // background: url(../assets/img/noise_lines_transparent@2X.png),
  // radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.header__wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 90px;
  font-family: 'Noto Serif Georgian';
}
.logo-top {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
}
.logo-bottom {
  margin-top: 10px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  // display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}


.header__nav {
  font-family: 'Commissioner';
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
}
.header__item {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header__link {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  text-decoration: none;
  transition: 1s;
  &:hover{
    color: $green;
  }
  &:active {
    color: yellowgreen;
  }
}
.header__link-active {
  position: relative;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #FAFAFA;
}
.header__link-active:before {
  content: '';
  position: absolute;
  left: 0; bottom: -10px;
  width: 100%;
  height: 3px;
  background: #F1CDB3;
}
//TODO End Header_______________________________________________________________


//TODO Start section only *****************************************************************
.only__wrapper {
  display: flex;
  margin-bottom: 82px;
  // flex-wrap: wrap;
  // align-items: center;
  column-gap: 42px;
  font-style: normal;
}
.only-dog {
  width: 698px;
  height: 728px;
  // scale: 1.05; 
}
.only__information {
  margin-top: 163px;
  max-width: 460px;
  max-height: 332px;
}
.only__title {
  margin-bottom: 42px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;;
  align-items: center;
  color: #FFFFFF;
  margin-top: 0;
}
.only__description {
  margin-bottom: 54px;
  width: 460px;
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #CDCDCD;
}
.only__more {
  padding: 15px 45px;
  background: #F1CDB3;
  box-sizing: border-box;
  border: none;
  border-radius: 100px;
  transition: 0.5s;
  text-decoration: none;
}
.more {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
}
.only__more:hover {
  color: #FFFFFF;
  background: #E06733;
}
//TODO End section only_______________________________________________________________



//TODO Start section about *****************************************************************
.about__wrapper { 
  margin: 0 175px;
  display: flex;
  column-gap: 120px;
  margin-bottom: 100px;
}
.about-pets {
  width: 300px;
  height: 408px;
}

.about__information {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 14px 0;
}

.about__title {
  // margin-bottom: 25px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
 }

.about__description {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
  max-width: 430px;
}
//TODO End section about_______________________________________________________________



//TODO Start section our-friends *****************************************************************
.our-friends {
  background: #F6F6F6;
}
.our-friends__wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}
.our-friends__title {
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
  max-width: 400px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.our-friends__slider {
  display: flex;
  align-items: center;
}

.our__arow-left {
  margin: 0 53px 53px 0;
  min-width: 52px;
  min-height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  box-sizing: border-box;
}
.our__arow-right {
  margin: 0 0 0 53px;
  min-width: 52px;
  min-height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  box-sizing: border-box;
}

.our-friends__wrapper-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 90px;
  margin-bottom: 60px;
}
.our-friends__card {
  background: #FAFAFA;
  border-radius: 9px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  grid-column: span 2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: 0.7s;
  &:hover {
    scale: 0.97;
  }
}
.card__pic {
  margin-bottom: 30px;
  transition: 0.7s;
  &:hover {
    scale: 1.1;
  }
}
.card__title {
  margin-bottom: 30px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  transition: 0.7s;
  &:hover {
    font-size: 22px;
  }
}
.learn__more {

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;


  margin-bottom: 30px;
  padding: 15px 45px;
  border-radius: 100px;
  box-sizing: border-box;
  transition: 0.5s;
  border: 2px solid #F1CDB3;
  color: #292929;
  background: #FFFFFF;
  transition: 0.7s;
  &:hover {
    background: #f1cdb3;
  }
}
.rest__wraper {
  display: flex;
  justify-content: center;
}
.rest {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  text-decoration: none;
  transition: 0.7s;
  &:hover {
    background: #d4a381;
    border-radius: 80px;
  }
}
//TODO End section our-friends_______________________________________________________________


 

//TODO Start section help *****************************************************************
.help__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help__title {
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 60px;
  text-align: center;
  max-width: 400px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.help__card-top-wrapper {
  display: flex;
  // margin-left: 87px;
  column-gap: 120px;
  row-gap: 55px;
  margin-bottom: 100px;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
}

.help__card-wrapper  {
  display: flex;
  align-items: center;
  text-align: center;
}

.help__card-wrapper-bottom {
  display: flex;
  align-items: center;
  text-align: center;
}
.help__card {
  margin-bottom: 23px;
}
.help__card-title {
  white-space: nowrap;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}


// .help__card-top-wrapper {
//   display: flex;
//   margin-left: 87px;
//   grid-column-gap: 120px;
//   align-items: center;
//   margin-bottom: 50px;
// }
// .help__card-bottom-wrapper {
//   margin: 0 0 0 168px;
//   display: flex;
//   grid-column-gap: 120px;
//   margin-bottom: 100px;
// }
// .help__card-wrapper {
//   display: flex;
//   align-items: center;
//   text-align: center;
// }
// .help__card-title {
//   margin-top: 30px;
//   white-space: nowrap;
//   font-family: 'Georgia';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 20px;
//   line-height: 115%;
//   letter-spacing: 0.06em;
//   color: #545454;
// }
//TODO End section help_______________________________________________________________



//TODO Start section In addition  *****************************************************************
.addition {
  background: #F6F6F6;
}
.addition__wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 30px;
}
.addition__pic {
  width: 505px;
  height: 261px;
}
.addition__donate {
  display: flex;
  flex-direction: column;
  grid-row-gap: 20px;
  max-width: 382px;
}
.adition__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.addition__bank {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}
.addition__btn {
  display: flex;
  align-items: center;
  max-width: 320px;
  padding: 10px 15px;
  gap: 15px;
  border: none;
  background: #F1CDB3;
  border-radius: 9px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  letter-spacing: 0.06em;
  color: #545454;
  text-decoration: none;
}
.addition__info {
  font-family: 'Commissioner';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #B2B2B2;
}

//TODO End section In addition_______________________________________________________________