@media screen and (max-width: 1279px) {
    .our-friends__wrapper-pets {
       align-items: center;
       padding-bottom: 80px;
    }
    .our-friends__wrapper-cards-pets {
        max-width: 580px;
        max-height: 1400px;
        overflow: hidden;
        margin-bottom: 5px;
    }
   
    .pets-house__title {
        margin-bottom: 30px;
    }

}