
.main {
    position: relative;
    z-index: 5;
}

.burg-pets {
    display: none;
}
//TODO Start Header*****************************************************************
.logo-pets-top,
.logo-pets-bottom,
.header__pets-link 
{
    color: #545454d5;
}

.header__pets-link:hover {
    color: #110101;
    padding-bottom: 6px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: #F1CDB3; 
}
.header__pets-link:active {
    color: #110101;
    padding-bottom: 6px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
}

.header__wraper-pets {
    padding-bottom: 30px;
}
.pets-house {
    background: #f6f6f6;
}
.pets-house__title {
    margin-bottom: 60px;
}

.pets-house__title {
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
    max-width: 400px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
.our-friends__wrapper-pets {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 100px;
}
.learn__more-pets {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin-bottom: 30px;
    padding: 15px 45px;
    border-radius: 100px;
    box-sizing: border-box;
    transition: 0.5s;
    border: 2px solid #F1CDB3;
    color: #292929;
    background: #FFFFFF;
    transition: 0.7s;
    &:hover {
      background: #f1cdb3;
    }
  }
.our-friends__wrapper-cards-pets {
    display: flex;
    flex-direction: row;
    column-gap: 38px;
    row-gap: 28px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.our-friends__page {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.our-friends__page-left,
.our-friends__page-left-more {
    width: 52px;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 115%;
    color: #CDCDCD;
    border-radius: 50%;
    border: 2px solid #CDCDCD;
    border-radius: 50%;
    box-sizing: border-box;
}
.our-friends__page-number {
    box-sizing: border-box;
    width: 52px; 
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    background: #F1CDB3;
}
.our-friends__page-right,
.our-friends__page-right-more {
    box-sizing: border-box;
    width: 52px; 
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    transition: 0.7s;
    &:hover {
        background: #F1CDB3;
    }
}

//TODO End Header_______________________________________________________________

.burger__line-pets {
    background: #000;
  }
